body {
    background:black url('../images/wwwback.gif') repeat;
    height:100%;
}

#page {
    width:850px;
    margin-right:auto;
    margin-left:auto;
    height:100%;
}
#sidebar_left {
    background:black;
    float:left;
    height:100%;
    width:150px;
}
#sidebar_right {
font-family: Arial;   
 color:white;
    background:black;
    float:right;
    height:100%;
    width:150px;
}
#content {
font-family: Verdana;
    background:white none repeat scroll 0 0;
    float:right;
    width:550px;
}

#site_logo img {
    border: none;
}

/* menu */
.main_menu {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding-left:4px;
}
.menu_item a:visited,
.menu_item a:link {
    color: gray;
    font-family: Times New Roman, sans-serif;
    text-decoration: none;
}

.submenu {
    list-style-image:none;
    list-style-type:none;
    padding-left: 1em;
}
.submenu a:hover {
color: white; 
font-weight:bolder;
}
.submenu li.active a {
color: grey; 
font-weight:bolder;
}

mtitle{
display:block;
color: black; 
font-style: none; 
background-color: white; 
text-decoration: none;
width:130px;
text-align:left;
padding:1px 0 1px 4px;
}